*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: black;
}



@font-face {
    font-family: imported;
    src: url(./fonts/Blueberry.otf);
  }
  
  .font{
    font-family: imported;
  }


/* innovations */
.myclass{
    text-decoration: none;
    display: inline;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
}

.inv-container{
    display: block;
    text-align: center;
}
  
.imginv{
    display: inline-block;
    height: 25%;
    width: 42%
}
  
  
/* end of innovations */





.logo-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}
.logo-title h1{
    color: white;
    vertical-align: middle;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 3rem;
    
}
.aboutUs a i{
    margin-left: 180px;
    margin-top: 80px;
    position: fixed;
    color: white;
    background-color: transparent;
}
.logo-title .imageContl img{
    height: 100px;
    margin-top: 20px;
}
.aboutUs .imageCont img{
    height: 500px;
    display: block;
    margin: auto;
    margin-top: -65px;
}
.aboutUs .imageCont{
    position: relative;
}
.aboutUs .imageCont .about-des{
    position: absolute;
    width: 450px;
    color: black;
    font-size: 1.5rem;
    top: 125px;
    right: 50px;
    text-align: center;
}
.c8 img{
    height: 800px;
    margin-top: 55px;
}
.c8 .title {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 45px;
}
.imageCont{
    width: fit-content;
    display: block;
    margin: auto;
}
.OurJourney{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -100px;
}
.OurJourney h1{
    color: white;
    font-size: 4.5rem;
    margin-top: 200px;
    text-align: center;
}
.OurJourney .imageContj img{
    height: 600px;
    margin-right: 50px;
}

/*-----------------------------------------*/
.meet-team{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.meet-team h1{
    color: white;
    position: relative;
}
.meet-team .imageContm img{
    height: 600px;
}
.meet-team .imageContm{
    position: relative;
    background-color: transparent;
}
.meet-t{
    position: relative;
}
.meet-t h1{
    text-align: center;
    position: absolute;
    top: 80px;
    right: 70px;
    font-size: 4rem;
}
.meet-inside{
    position: absolute;
    top: 345px;
    left: 50px;
    display: flex;
    flex-direction: row;
}
.meet-inside .meet-in-des{
    color: black;
    text-align: center;
    margin-left: 40px;
    margin-top: 35px;
}
.meet-inside .meet-in-des ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 15px;
}
.meet-inside .meet-in-des ul li{
    margin-right: 20px;
}
.meet-inside .meet-in-des ul li i{
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
}


.meet-inside .meet-in-img img{
    height: 185px;
}
/*--------------------------------*/
.join-team{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.join-team h1{
    color: white;
    position: relative;
}
.join-team .imageContjt img{
    height: 600px;
}
.join-team .imageContjt{
    position: relative;
    background-color: transparent;
}
.join-t{
    position: relative;
}
.join-t h1{
    text-align: center;
    position: absolute;
    top: 80px;
    right: 70px;
    font-size: 4rem;
}
.join-inside{
    position: absolute;
    top: 340px;
    left: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.scanner{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
}

.scanner img{
    width: 100%;
}

.in-right{
    margin-top: 15px;
}
.in-right h3{
    padding-bottom: 10px;
}
/*-------------------------------------------*/


@media(max-width: 700px){
    .logo-title{
        margin-top: 30px;
        margin-left: 200px;
        width: 100%;
    }
    .aboutUs a i{
        margin-top: 10px;
        margin-left: 30px;
    }
    .aboutUs .imageCont img{
        margin-left: 60px;
    }
    .OurJourney{
        margin-left: 350px;
    }
    .our-des{
        margin-left: 50px;
    }
    .meet-team, .join-team{
        margin-left: 430px;
    }
    .join-team{
        margin-bottom: 200px;
    }
}